/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation bar  */

.nav-container {
  display: flex;
  padding: 3vh 7vh;
  justify-content: space-around;
  background-color: #3e8e41;
}

.main-menu {
  display: flex;
  background-color: white;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.main-menu > p {
  color: #0e2e61;
}
.search-profile {
  display: flex;
  background-color: aquamarine;
  width: 40%;
  align-items: center;
}

/* main-menu */

/* drop down menu */
.dropbtn {
  background-color: white;
  color: #0e2e61;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Search bar */
#profile-img {
  height: 5vh;
  width: 5vh;
  border-radius: 30px;
}

.search {
  background-color: #0e2e61;
  display: flex;
  border-radius: 20px;
  height: 5vh;
  margin-right: 2vh;
  align-items: center;
  width: 60%;
}

#search-icon {
  height: 3vh;
  width: 3vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

.search > input {
  background-color: #0e2e61;
  width: 80%;
  border: none;
  height: 4vh;
}

/* profile */
.profile {
  display: flex;
  width: 30%;
  align-items: center;
}
.profile > p {
  margin-left: 1vh;
}
