/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Assets/Landing-page/items-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 4vh;
}

.logo-svg {
  margin-top: 2vh;
  height: 7vh;
}

.moto {
  display: flex;
  justify-content: center;
  font-family: "Baloo Chettan";
  color: #600d2d;
  font-size: small;
}

.buttons-container {
  display: flex;
  /* height: 35vh; */
  padding: 0 2vh 0 2vh;
  flex-direction: column;
  margin-top: 4vh;
}

.buttons-container p {
  font-family: "Baloo Chettan";
  color: #600d2d;
  font-size: 1.5rem;
  margin-bottom: 2vh;
  margin-left: 1vh;
}

.log-in {
  margin-bottom: 4vh;
  height: 12h;
}
.outer-button {
  width: 100%;
  color: white;
  height: 7vh;
  font-size: x-large;
  font-family: "Baloo Chettan";
  border-radius: 20px;
  border-color: #0e2e61;
  background-color: #0e2e61;
  margin-top: -1.5vh;
}

.outer-button:hover {
  background-color: #600d2d;
  cursor: pointer;
}

/* Utilities */
@font-face {
  font-family: "Baloo Chettan";
  src: url(/Assets/Fonts/BalooChettan-Regular.ttf);
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signing-form {
  background-color: #f0f0f0;
  height: 60vh;
  width: 30%;
  border-radius: 20px;
}

/* Media Queries */
@media only screen and (max-width: 1500px) {
  .signing-form {
    background-color: #f0f0f0;
    height: 60vh;
    width: 60%;
    border-radius: 20px;
  }
}

/* @media only screen and (max-width: 1400px) {
  .signing-form {
    background-color: #f0f0f0;
    height: 60vh;
    width: 50%;
    border-radius: 20px;
  }
} */

@media only screen and (max-width: 905px) {
  .signing-form {
    background-color: #f0f0f0;
    height: 65vh;
    width: 60%;
    border-radius: 20px;
  }
}
