@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{height: 100%;}
/*  css reset */
header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:29%;
    height:100%;
    background-color: #0E2E61;
    position:fixed;
}
html {
    font-family:  'Poppins', sans-serif;
}
.seller-profile{
    margin :50px 100px 20px 70px;
    text-align: center;
}
.logo-image{
    text-align: center;
    height: 100px;
    width:100px;
}
.profile-img{
    text-align: center;
    height: 100px;
    width:100px;
    border-radius: 50%;
}
.user-type{
    display:flex;
    flex-direction:column;
    width:100%;
    height:50%;
    justify-content: space-evenly;
    align-items: center;
    padding-top:15vh;
    
}
.user-type p{
    cursor: pointer;
}

.user-type div{
    display:flex;
    font-size: 20px;
    color:white;
    padding-bottom: 30px;
}
.user-type div span {
    padding-right:10px;
}
hr{
    margin:0  20px;
    height:2px;  
}
.seller-bottom-profile{
    margin-top:17vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:white;
}
.seller-bottom-profile div{
    padding-right:10px;
}
.seller-bottom-profile img{
    height:70px;
    width:70px;
}
main{
    width:71%;
    height:100%;
    margin-left:29%;
    position:relative;
    
}
h1{
    font-size: 40px;
    line-height: 45px;
    padding-left:3vw;
    padding-top:2vh;
}
.seller-header{
    width:100%;
   
    position:fixed;
    top:0;
    z-index:2;
    height:22vh;
    background-color: #BDBDBD;
}
.seller{
    width:70%;
     display:flex;
    justify-content:space-between;
    align-items: center;
} 
.search{
	display: flex;
	align-items: center;
	padding: 20px;

}

.search > span {
	font-size: 20px;
	color: white;
    position: relative;
    left:30px;
}

.search > input{
	height: 5vh;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
    width: 400px;
    background-color: #600D2D;
    border-radius: 30px;
}


.seller button{
    padding: 14px 10px;
    border: none;
    border-radius: 20px;
    height: 5vh;
    width:11vw;
    text-align:center;
    padding: 0;
    vertical-align:middle;
    background-color: #600D2D;	
    color:white;
    margin-right:4vw;
  }

.card-container{
    width: 70%;
    margin:30vh 5vh 0vh 5vh;
    display: flex;
    flex-direction:column;
    position:absolute;
  }
.row{
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row p{
    color: #600D2D;
    font-weight: 700;
}
.row-product{
    align-items: center;
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-product img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    cursor: pointer;
}
.row-product p{
    color: #600D2D;
    font-weight: 700;
}
.row-product>div:first-child{
    margin-left: 3vw;
}
.row-product>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9vw;
}
.row-break{
    margin-top: 1vw;
    width: 100%;
    height: 1px;
    background-color: #0E2E61;
    border: none;
}
.row-product-btn{
    color: white;
    background-color: #600D2D;
    border-radius: 10%;
    height: 2.5vw;
    width: 4vw;
}
.card{
    width:30%;
    border-radius: 10%;
    border-style: none;
    background-color: #D9D9D9;
    margin:10px;
  }
  .card-img{
    padding-top:4vh;
    text-align: center; 
  }
  .seller-img{
    height:60px;
    width:60px;
 }
  .card p{
    text-align:center;
    font-size:16px;
    color:black;
    padding-bottom:3vh;
    padding-top:2vh;
  }
 
 .seller-adjust{
    display:flex;
    justify-content: space-evenly;
    padding-bottom:2vh;

 }
 .whole-content{
    display: none;
    align-items: center;
    align-content: center;
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
 }
 .view-more{
    display: none;
    padding: 20px;
    height: 50%;
    width: 50%;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    /* display: flex; */
    flex-direction: row;
 }
 .view-more-image{
    display: flex;
    flex-direction: column;
    width:60%;
 }
 .view-more-image>p{
    font-weight: bolder;
 }
 .view-more-image>img{
    height: 15vw;
    width: 15vw;
    align-self: flex-start;
    margin-top: 1vw;
 }
 .view-more-about{
    width: 40%;
 }
 .view-more-about>h3{
    margin-left: 1vw;
 }
 .view-more-about>h5{
    font-weight: normal;
 }
.mt-4{
    margin-top: 4vw;
    margin-bottom: 1vw;
}
 .view-more-price{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.pointer{
    cursor: pointer;
}